0<!-- main app container -->
<!-- <div style="background-color: burlywood"> -->
<div class="container mt-5" style="background-color: darkgoldenrod;color: darkgreen">

    <div class="card m-3">
        <h5 class="card-header">Template-Driven Form Validation</h5>
        <div class="card-body ">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Title</label>
                        <select name="title" class="form-control" [(ngModel)]="model.title" #title="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required>
                            <option value=""></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </select>
                        <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                            <div *ngIf="title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <!-- First Name and Last Name -->
                    <div class="form-group col-5">
                        <label>First Name</label>
                        <input type="text" pattern="[a-zA-Z]*" name="firstName" class="form-control"
                            [(ngModel)]="model.firstName" #firstName="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                            <div *ngIf="firstName.errors.pattern">Only Characters Allowed</div>
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>Last Name</label>
                        <input type="text" pattern="[a-zA-Z]*" name="lastName" class="form-control"
                            [(ngModel)]="model.lastName" #lastName="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Last Name is required</div>
                            <div *ngIf="lastName.errors.pattern">Only Characters Allowed</div>
                        </div>
                    </div>
                </div>

                <!-- mobile no. -->
                <div class="form-group">
                    <label>Mobile No. :</label>
                    <input type="text" pattern="[0-9]{10,12}" name="mobile" class="form-control"
                        [(ngModel)]="model.mobile" #mobile="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required>
                    <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                        <div *ngIf="mobile.errors.required">Mobile is required</div>
                        <div *ngIf="mobile.errors.pattern">Mobile must be in Digit and limit 10 to 12 </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" pattern="[a-zA-Z0-9.+-_]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}" name="email"
                        class="form-control" [(ngModel)]="model.email" #email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.pattern">Email must be a valid email address</div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-row">
                    <div class="form-group col">
                        <label>Password</label>
                        <input type="text" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,10})" name="password"
                            class="form-control" [(ngModel)]="model.password" #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.pattern">Password must contain atleast 1-upper,1-lower and 8-10
                                characters only</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <p style="text-align: center;color: black">----------------Kiran------------------</p>
    </div>
</div>
<!-- </div> -->